{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" a href="{% static 'todo/css/bootstrap.css' %}" />
    <title>ToDo List</title>
</head>
<body>
    <!-- <div w3-include-html="content/navbar.html"></div>https://getbootstrap.com/docs/4.0/components/navbar/ -->
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'todo:index' %}">ToDo List</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'todo:new' %}">New</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'todo:disclaimer' %}">Disclaimer</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="table-responsive-md">
                    <table class="table table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">ToDo</th>
                                <th scope="col">Deadline</th>
                                <th scope="col">Progress</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if task_list %}
                                {% for task in task_list %}
                                    <tr>
                                        <th scope="row">{{ task.id }}</th>
                                        <td>{{ task.task_text }}</td>
                                        <td>{{ task.deadline }}</td>
                                        <td>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: {{ task.progress }}%;" aria-valuenow="{{ task.progress }}" aria-valuemin="0" aria-valuemax="100">{{ task.progress }}%</div>
                                            </div>
                                        </td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="{% url 'todo:edit' task.id %}" role="button">edit</a>
                                            <a class="btn btn-danger btn-sm" href="{% url 'todo:delete' task.id %}" role="button">delete</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <th colspan="5">No ToDos in database.</th>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- How to use bootstrap -> https://www.youtube.com/watch?v=zcUUE0E_qAs -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'todo/js/jquery-3.4.0.slim.min.js' %}"></script>
    <script src="{% static 'todo/js/popper.min.js' %}"></script> <!-- https://github.com/FezVrasta/popper.js/blob/master/docs/_includes/tooltip-documentation.md -->
    <script src="{% static 'todo/js/bootstrap.js' %}"></script> <!-- https://getbootstrap.com/docs/4.3/getting-started/introduction/ -->
    <!-- <script src="{% static 'todo/js/own.js' %}"></script> https://www.w3schools.com/howto/howto_html_include.asp -->
    <!-- <script>includeHTML();</script> -->
</body>
</html>