{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" a href="{% static 'todo/css/bootstrap.css' %}" />
    <title>New Todo</title>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'todo:index' %}">ToDo List</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'todo:new' %}">New</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'todo:disclaimer' %}">Disclaimer</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>New Todo</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form action="{% url 'todo:savenew' %}" method="post">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-auto">
                            <input type="text" class="form-control" placeholder="ToDo" name="todo" />
                        </div>
                        <div class="col-auto">
                            <input type="date" class="form-control" name="deadline" />
                        </div>
                        <div class="col-auto">
                            <!-- <input type="range" name="progress" class="form-control-range" min="0" max="100" step="1" value="0" /> -->
                            <input type="text" class="form-control" placeholder="progress" name="progress" />
                        </div>
                        <div class="col-auto">
                            <input type="submit" class="btn btn-primary mb-2 btn-own" value="save" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- How to use bootstrap -> https://www.youtube.com/watch?v=zcUUE0E_qAs -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'todo/js/jquery-3.4.0.slim.min.js' %}"></script>
    <script src="{% static 'todo/js/popper.min.js' %}"></script> <!-- https://github.com/FezVrasta/popper.js/blob/master/docs/_includes/tooltip-documentation.md -->
    <script src="{% static 'todo/js/bootstrap.js' %}"></script> <!-- https://getbootstrap.com/docs/4.3/getting-started/introduction/ -->
</body>
</html>